/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.language {
  height: 20px;
  width: 30px;
  box-shadow: 3px 3px 3px #666;
}

.biglink {
  width: 150px;
  text-align: center;

  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 200;
  line-height: 30px;

  display: inline-block;
  color: black;
  margin: 20px;
  padding: 20px;
  border: 20px;
  border-radius: 10px;
  background: rgb(242,245,246);
  background: -moz-linear-gradient(top,  rgb(242,245,246) 0%, rgb(227,234,237) 37%, rgb(200,215,220) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(242,245,246)), color-stop(37%,rgb(227,234,237)), color-stop(100%,rgb(200,215,220)));
  background: -webkit-linear-gradient(top,  rgb(242,245,246) 0%,rgb(227,234,237) 37%,rgb(200,215,220) 100%);
  background: -o-linear-gradient(top,  rgb(242,245,246) 0%,rgb(227,234,237) 37%,rgb(200,215,220) 100%);
  background: -ms-linear-gradient(top,  rgb(242,245,246) 0%,rgb(227,234,237) 37%,rgb(200,215,220) 100%);
  background: linear-gradient(to bottom,  rgb(242,245,246) 0%,rgb(227,234,237) 37%,rgb(200,215,220) 100%);
}

.biglink:hover {
  text-decoration: none;
  color: black;
}

.glowing {
    box-shadow: -3px 3px 30px  #AAA;
}
.glowing:hover {
  animation-name:glow;
  animation-duration:2s;
  animation-iteration-count:infinite;
  /* Safari and Chrome: */
  -webkit-animation-name:glow;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
}

@keyframes glow
{
  0% {box-shadow: -3px 3px 30px#AAA}
  50% {box-shadow: -3px 3px 30px #000}
  100% {box-shadow: -3px 3px 30px #AAA}
}

@-webkit-keyframes glow /* Safari and Chrome */
{
  0% {box-shadow: -3px 3px 30px#AAA}
  50% {box-shadow: -3px 3px 30px #000}
  100% {box-shadow: -3px 3px 30px #AAA}
}
